body {
    background-color: #D8CBBC;
    font-family: 'Cabin', Arial, sans-serif;
}
#wrapper{
    background-color: white;
    margin: -10px 80px 0px 80px;
}

#topnav a:hover {
    background-color: rgb(139, 74,101);
    color: white;
}

#topnav{
    background-color: #FFC78F;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* padding: 5px 20px 5px 20px; */
}
.topA {
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: rgb(139, 74,101);
    height: 100%;
    font-size: 15px;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#subscribeform {
     text-align: right;
     color: white;
     background-color: rgb(227, 124, 145);
     width: 450px;
     height: 135px;
     margin: 5px;
     font-size: 25px; 
}


#subscribeform p{
    margin: 20px; 
}

button{
    background-color: rgb(139, 74,101);
    color: white;
    
    padding: 10px 20px 10px 20px;
    border: none;
}

.bigText{
    font-size: 35px;
    text-transform: uppercase;
}

#menu{
    background-color: rgb(191, 220, 204);
    color: rgb(139, 74,101);
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 32px;
}
#contentBox{
    display: flex;
    flex-direction: row; 
}
#contentBox p{
    font-size: 15px; 
}
.pagePhotos {
    float: left; 
    padding: 10px 20px 10px 20px; 
}

#peeps{
    position: relative;
}

#content{
    padding: 10px; 
    line-height: 1.5em;
}

#reply{
    width: 700px;
    padding: 0px 0px 10px 15px;
    line-height: 1.5em;
    margin: 10px;
}

#comment{
    line-height: 1.5em; 
    padding: 5px 5px 0 15px; 
    margin: 10px 10px 10px 25px;
}
    

#copyright{
    text-align: center; 
    background-color: #BFDCCB;
    padding: 20px;
    font-size: 13px;
    line-height: 2em;
}

#sidebar {
    padding: 0 20px 20px 20px;
    margin: 20px;
    width: 1030px;
}

#giveawayHeader {
    background-color: #FFC78F;
    /* padding: 0px 10px 0px 20px; */
    
}
#giveaway p{
    font-size: 13px;
}
#giveaway a{
    font-size: 13px;
    text-decoration: none;
    color: rgb(139, 74,101);
}
#stockImage {
    width: 75px;
    padding: 10px 10px 5px 10px; 
}
#tableHeader {
    background-color: #FFC78F;
    /* padding: 0px 10px 0px 20px; */

}
#tableTalk p{
    font-size: 13px;
}

#subscribe {
    background-color: #FFC78F;
    padding: 6px 0px 6px 0px;
    margin: 10px 0 5px 0;
    color: black;
    display:flex;
    justify-content: space-around;
    text-decoration: none;

}

#socialMedia {
    background-color: rgb(191, 220, 204);
    padding: 6px 0px 6px 0px;
    margin: 5px 0 10px 0;
    color: black;
    display:flex;
    justify-content: space-around;
    text-decoration: none;
}

#siteSearch {
    width: 100%;
    height: 2.5em;
    margin: 0 0 10px 0;

}

.replyInfo {
    width: 350px;
    border: 1px solid #ddd;
    line-height: 2em;
}

#replycomment {
    border: 1px solid #ddd;
    width: 700px;
    line-height: 2em;
}
.bottomButtons {
    margin: 0px 20px 5px 5px; 
}
#topsubscribe {
    height:25px;
    width:275px;
}

#reply hr{
    border: lightgrey 1px dotted;
}
.menuPic {
    width: 110px;
    padding: -5px 10px -5px 10px;
}

#hKeeping {
    width: 130px;

}

.icons {
    width: 30px;
    vertical-align: -.5em;
}

a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

#sidebar h2 {
    padding: 5px 0 5px 20px;
}

#giveaway hr {
    border: lightgrey 1px dotted;
    line-height: -10px;
}
.fa-search {
    position:relative;
    top: 25px;
    left: 320px;
}

.popUp2 .dropLists {
    display: none;
}

.popUp2:hover .dropLists {
    display: block;
    position: absolute;
    background-color: white;
}

.dropLists {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 200px;
}

.dropItems {
    border-top: white;
    color: rgb(139, 74,101);
    padding: 15px;
    margin: 1px;
    background-color: rgb(191, 220, 204);
}
.dropItems a{
    color:rgb(139, 74,101);
}
.dropItems:hover a {
    color: white;
}
.dropItems:hover {
    color:white;
    background-color: rgb(139, 74,101);
}



#topDrop {
    width: 150px;
}

.popUp #topDrop {
    display: none;
}

.popUp:hover #topDrop {
    display: block;
    position: absolute;
}

.topItems {
    color: white;
    background-color: rgb(139, 74,101);
    padding: 10px;
    border: 1px solid white;
}
.topItems:hover{
    color: rgb(139, 74,101);
    background-color: #FFC78F;
}

.purpleLink {
    text-decoration: none;
    color: rgb(139, 74,101);
}

.bullLink {
    font-size: 18px;
    text-emphasis: bold;
}
#giveP {
    margin: -10px 0 0 0;
}