body {
    background-color: #D8CBBC;
    font-family: 'Cabin', Arial, sans-serif;
}
#wrapper{
    background-color: white;
    margin: 0 80px 0 80px;
}

a {
    text-decoration: none;
    color: rgb(139, 74,101);
}

#topnav{
    background-color: #FFC78F;
    text-align: right;
    padding: 10px;
}
#topnav a{
    padding: 10px;
   
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#subscribeform {
     text-align: right;
     color: white;
     background-color: rgb(227, 124, 145);
     width: 450px;
     height: 135px;
     margin: 5px;
     font-size: 25px; 
}


#subscribeform p{
    margin: 20px; 
}

button{
    background-color: rgb(139, 74,101);
    color: white;
    
    padding: 10px 20px 10px 20px;
    border: none;
}

.bigText{
    font-size: 35px;
    text-transform: uppercase;
}

#menu{
    background-color: rgb(191, 220, 204);
    color: rgb(139, 74,101);
    display:flex;
    justify-content: space-around;
    padding: 10px;
}
#contentBox{
    display: flex;
    flex-direction: row; 
}
#contentBox p{
    font-size: 15px; 
}
img {
    float: left; 
    padding: 10px 20px 10px 20px; 
}

#peeps{
    position: relative;
}

#content{
    padding: 10px; 
    line-height: 1.5em;
}

#reply{
    width: 700px;
    padding: 0px 0px 10px 15px;
    line-height: 1.5em;
    margin: 10px;
}

#comment{
    line-height: 1.5em; 
    padding: 5px 5px 0 10px; 
    margin: 10px;
}
    

#copyright{
    text-align: center; 
    background-color: #BFDCCB;
    padding: 20px;
    font-size: 13px;
    line-height: 2em;
}

#sidebar {
    padding: 20px;
    margin: 20px;
    width: 1170px
}

#giveawayHeader {
    background-color: #FFC78F;
    /* padding: 0px 10px 0px 20px; */
    
}
#giveaway p{
    font-size: 13px;
}
#giveaway a{
    font-size: 13px;
}
#stockImage {
    width: 75px;
    padding: 10px 10px 5px 10px; 
}
#tableHeader {
    background-color: #FFC78F;
    /* padding: 0px 10px 0px 20px; */

}
#tableTalk p{
    font-size: 13px;
}

#subscribe {
    background-color: #FFC78F;
    padding: 10px;
    margin: 10px 0 10px 0;
    color: black;
    display:flex;
    justify-content: space-around;
}

#socialMedia {
    background-color: rgb(191, 220, 204);
    padding: 10px;
    margin: 10px 0 10px 0;
    color: black;
    display:flex;
    justify-content: space-around;
}

#siteSearch {
    width: 300px
}

.replyInfo {
    width: 350px;
    border: 1px solid #ddd;
    line-height: 2em;
}

#replycomment {
    border: 1px solid #ddd;
    width: 700px;
    line-height: 2em;
}
.bottomButtons {
    margin: 0px 20px 5px 5px; 
}
#topsubscribe {
    height:25px;
    width:200px;
}

#reply hr{
    border: lightgrey 1px dashed;
}